
<header  >
    <div class="navbar navbar-dark bg-black shadow-sm" >
        <div class="navbar-brand align-item-center d-flex" style="margin-left: 700px;">
            <strong style="font-size: 30px;text-align: center;" >VISAP</strong> &nbsp;
            <strong style="font-size: 30px;text-align: center;" >MOBILES</strong>


        </div>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button style="float: right;width: 100px;height: 50px;font-size: large;background-color: black;color: white;" routerLink="/demohome"><b>Logout</b> </button>
        <button routerLink="/cart" class="btn btn-primary" style="background-color: black;">
             
            <i style="font-size: 30px;color: white" class="fas fa-cart-plus" ></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
    </div>
</header>