<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
  <header  >
    <div class="navbar navbar-dark bg-black shadow-sm" >
        <div class="navbar-brand align-item-center d-flex" style="margin-left: 700px;">
            <strong style="font-size: 30px;text-align: center;margin-right: 0px;margin-left: -40px;" >VISAP</strong> &nbsp;
            <strong style="font-size: 30px;text-align: center;margin-right: 40px;" >MOBILES</strong>
           
  
        </div>
    </div>
  </header><br> <br>
  <div>
  <form action="action_page.php" method="post" [formGroup]="resetForm" (ngSubmit)="reset()">
    <!-- <h1 style="text-align: center;text-decoration: underline;">VISAP MOBILES</h1> -->
    <h1 style="text-align: center;">Forgot Password</h1>
    
  
    <div class="container">
      <label for="uname"><b>EmailId</b></label>
      <input formControlName="emailId" type="text" placeholder="Enter emailId" name="uname" required>
  
      <label for="psw"><b>New Password</b></label>
      <input formControlName="password" type="password" placeholder="Enter Password" name="psw" required>


  
      <button type="submit" [disabled]="!resetForm.valid">Submit</button>
      <button type="submit" routerLink="/login" style="background-color: red;" >Cancel</button>

    </div>
  
  </form>
</div>
</body>
</html>
